@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont.ttf") format("truetype");
}
@import "tailwindcss";

*{
  font-family: var(--font-inter);
}

@theme {
  --font-inter: "Inter", sans-serif;

  /*Paleta de cor*/

  --color-red-main: #f85252;
  --color-yellow-main: #fc9905;
  --color-green-main: #42cb57; 

  --color-dark-gray: #676767;
  --color-light-gray: #a1a1a1;

  --color-bg-gray: #b4babb;
  --color-bg-gray-medium: #a8a8a8;

  --color-font-gray-1: #3a3939;
  --color-font-gray-2: #605f5f;
  --color-font-gray-3: #2a2a2a;

  --color-header-blue: #158a8a;
  --color-header-gray: #daded9;

  --color-header-red: #ff6944;
  --color-header-light-blue: #0ec5ef;
  --color-header-yellow: #f0e137;

  --color-dark-gray: #c2c2c2;
  --color-whitebor: #f8f8f8;

  --color-light-gray: #d9d9d9;

  --color-green-blue: #158a8a;
  --color-ordemPopUp-bg: #a8a8a8;
}

@layer base {
  :-webkit-autofill,
  :-webkit-autofill:hover,
  :-webkit-autofill:focus,
  input:autofill,
  input:-webkit-autofill {
    filter: none;
    -webkit-background-clip: var(--color-light-gray);
    -webkit-background-composite: var(--color-light-gray);
    -webkit-background-origin: var(--color-light-gray);
    -webkit-text-fill-color: var(--color-header-blue);
    -webkit-box-shadow: none;
  }
}
